@tailwind base;
@tailwind components;
@tailwind utilities;
/* @layer utilities {
  .dark-mode {
    @apply dark;
  }

  .light-mode {
    @apply dark:text-white dark:bg-gray-800;
  }
} */

/* styles.module.css */

.rotate-grid {
  animation: rotate 2s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
